{{- if .Values.installCRDs }}
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.20.0
    helm.sh/resource-policy: keep
  name: cloudflareaccesspolicies.cfgate.io
  labels:
    {{- include "cfgate.labels" . | nindent 4 }}
spec:
  group: cfgate.io
  names:
    kind: CloudflareAccessPolicy
    listKind: CloudflareAccessPolicyList
    plural: cloudflareaccesspolicies
    shortNames:
      - cfap
      - cfaccess
    singular: cloudflareaccesspolicy
  scope: Namespaced
  versions:
    - additionalPrinterColumns:
        - jsonPath: .status.conditions[?(@.type=='Ready')].status
          name: Ready
          type: string
        - jsonPath: .status.applicationId
          name: Application
          type: string
        - jsonPath: .status.attachedTargets
          name: Targets
          type: integer
        - jsonPath: .metadata.creationTimestamp
          name: Age
          type: date
      name: v1alpha1
      schema:
        openAPIV3Schema:
          description: CloudflareAccessPolicy is the Schema for the cloudflareaccesspolicies API.
          properties:
            apiVersion:
              type: string
            kind:
              type: string
            metadata:
              type: object
            spec:
              description: CloudflareAccessPolicySpec defines the desired state of a CloudflareAccessPolicy resource.
              properties:
                application:
                  properties:
                    customDenyMessage:
                      maxLength: 1024
                      type: string
                    customDenyUrl:
                      type: string
                    domain:
                      type: string
                    enableBindingCookie:
                      default: false
                      type: boolean
                    httpOnlyCookieAttribute:
                      default: true
                      type: boolean
                    logoUrl:
                      type: string
                    name:
                      maxLength: 255
                      type: string
                    path:
                      default: /
                      type: string
                    sameSiteCookieAttribute:
                      default: lax
                      enum:
                        - strict
                        - lax
                        - none
                      type: string
                    sessionDuration:
                      default: 24h
                      pattern: ^[0-9]+(h|m|s)$
                      type: string
                    skipInterstitial:
                      default: false
                      type: boolean
                    type:
                      default: self_hosted
                      enum:
                        - self_hosted
                        - saas
                        - ssh
                        - vnc
                        - browser_isolation
                      type: string
                  type: object
                cloudflareRef:
                  properties:
                    accountId:
                      type: string
                    accountName:
                      type: string
                    name:
                      minLength: 1
                      type: string
                    namespace:
                      type: string
                  required:
                    - name
                  type: object
                groupRefs:
                  items:
                    properties:
                      cloudflareId:
                        maxLength: 36
                        type: string
                      name:
                        maxLength: 253
                        type: string
                    type: object
                    x-kubernetes-validations:
                      - message: either name or cloudflareId must be specified
                        rule: has(self.name) || has(self.cloudflareId)
                  maxItems: 50
                  type: array
                mtls:
                  properties:
                    associatedHostnames:
                      items:
                        type: string
                      maxItems: 25
                      type: array
                    enabled:
                      default: false
                      type: boolean
                    rootCaSecretRef:
                      properties:
                        key:
                          default: ca.crt
                          type: string
                        name:
                          minLength: 1
                          type: string
                      required:
                        - name
                      type: object
                    ruleName:
                      type: string
                  required:
                    - enabled
                  type: object
                policies:
                  items:
                    properties:
                      approvalGroups:
                        items:
                          properties:
                            approvalsNeeded:
                              default: 1
                              minimum: 1
                              type: integer
                            emailDomain:
                              maxLength: 255
                              type: string
                            emails:
                              items:
                                type: string
                              maxItems: 50
                              type: array
                          type: object
                          x-kubernetes-validations:
                            - message: at least one approver must be specified
                              rule: size(self.emails) > 0 || has(self.emailDomain)
                        maxItems: 10
                        type: array
                      approvalRequired:
                        default: false
                        type: boolean
                      decision:
                        default: allow
                        enum:
                          - allow
                          - deny
                          - bypass
                          - non_identity
                        type: string
                      exclude:
                        items:
                          x-kubernetes-preserve-unknown-fields: true
                        maxItems: 25
                        type: array
                      include:
                        items:
                          x-kubernetes-preserve-unknown-fields: true
                        maxItems: 25
                        type: array
                      name:
                        maxLength: 255
                        minLength: 1
                        type: string
                      precedence:
                        maximum: 9999
                        minimum: 1
                        type: integer
                      purposeJustificationPrompt:
                        type: string
                      purposeJustificationRequired:
                        default: false
                        type: boolean
                      require:
                        items:
                          x-kubernetes-preserve-unknown-fields: true
                        maxItems: 25
                        type: array
                      sessionDuration:
                        type: string
                    required:
                      - decision
                      - name
                    type: object
                  maxItems: 50
                  type: array
                serviceTokens:
                  items:
                    properties:
                      duration:
                        default: 8760h
                        pattern: ^[0-9]+h$
                        type: string
                      name:
                        maxLength: 255
                        minLength: 1
                        type: string
                      secretRef:
                        properties:
                          name:
                            minLength: 1
                            type: string
                        required:
                          - name
                        type: object
                    required:
                      - name
                      - secretRef
                    type: object
                  maxItems: 10
                  type: array
                targetRef:
                  properties:
                    group:
                      default: gateway.networking.k8s.io
                      type: string
                    kind:
                      enum:
                        - Gateway
                        - HTTPRoute
                        - GRPCRoute
                        - TCPRoute
                        - UDPRoute
                      type: string
                    name:
                      maxLength: 253
                      minLength: 1
                      type: string
                    namespace:
                      type: string
                    sectionName:
                      type: string
                  required:
                    - group
                    - kind
                    - name
                  type: object
                  x-kubernetes-validations:
                    - message: group must be gateway.networking.k8s.io
                      rule: self.group == 'gateway.networking.k8s.io'
                targetRefs:
                  items:
                    properties:
                      group:
                        default: gateway.networking.k8s.io
                        type: string
                      kind:
                        enum:
                          - Gateway
                          - HTTPRoute
                          - GRPCRoute
                          - TCPRoute
                          - UDPRoute
                        type: string
                      name:
                        maxLength: 253
                        minLength: 1
                        type: string
                      namespace:
                        type: string
                      sectionName:
                        type: string
                    required:
                      - group
                      - kind
                      - name
                    type: object
                    x-kubernetes-validations:
                      - message: group must be gateway.networking.k8s.io
                        rule: self.group == 'gateway.networking.k8s.io'
                  maxItems: 16
                  type: array
              required:
                - application
              type: object
              x-kubernetes-validations:
                - message: either targetRef or targetRefs must be specified
                  rule: has(self.targetRef) || has(self.targetRefs)
                - message: targetRef and targetRefs are mutually exclusive
                  rule: '!(has(self.targetRef) && has(self.targetRefs))'
            status:
              properties:
                ancestors:
                  items:
                    properties:
                      ancestorRef:
                        properties:
                          group:
                            default: gateway.networking.k8s.io
                            type: string
                          kind:
                            enum:
                              - Gateway
                              - HTTPRoute
                              - GRPCRoute
                              - TCPRoute
                              - UDPRoute
                            type: string
                          name:
                            maxLength: 253
                            minLength: 1
                            type: string
                          namespace:
                            type: string
                          sectionName:
                            type: string
                        required:
                          - group
                          - kind
                          - name
                        type: object
                      conditions:
                        items:
                          properties:
                            lastTransitionTime:
                              format: date-time
                              type: string
                            message:
                              maxLength: 32768
                              type: string
                            observedGeneration:
                              format: int64
                              minimum: 0
                              type: integer
                            reason:
                              maxLength: 1024
                              minLength: 1
                              pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                              type: string
                            status:
                              enum:
                                - "True"
                                - "False"
                                - Unknown
                              type: string
                            type:
                              maxLength: 316
                              pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                              type: string
                          required:
                            - lastTransitionTime
                            - message
                            - reason
                            - status
                            - type
                          type: object
                        type: array
                      controllerName:
                        type: string
                    required:
                      - ancestorRef
                      - controllerName
                    type: object
                  type: array
                applicationAud:
                  type: string
                applicationId:
                  type: string
                attachedTargets:
                  format: int32
                  type: integer
                conditions:
                  items:
                    properties:
                      lastTransitionTime:
                        format: date-time
                        type: string
                      message:
                        maxLength: 32768
                        type: string
                      observedGeneration:
                        format: int64
                        minimum: 0
                        type: integer
                      reason:
                        maxLength: 1024
                        minLength: 1
                        pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                        type: string
                      status:
                        enum:
                          - "True"
                          - "False"
                          - Unknown
                        type: string
                      type:
                        maxLength: 316
                        pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                        type: string
                    required:
                      - lastTransitionTime
                      - message
                      - reason
                      - status
                      - type
                    type: object
                  type: array
                  x-kubernetes-list-map-keys:
                    - type
                  x-kubernetes-list-type: map
                mtlsRuleId:
                  type: string
                observedGeneration:
                  format: int64
                  type: integer
                serviceTokenIds:
                  additionalProperties:
                    type: string
                  type: object
              type: object
          type: object
      served: true
      storage: true
      subresources:
        status: {}
{{- end }}
